@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nanum Pen Script';
}

.container .subcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #80440C;
  width: 570px;
  height: 320px;
}

.container .board {
  width: 550px;
  height: 300px;
  background-color: #023D04;
  box-shadow: 1px 1px 1px 1px #000 inset;
  overflow: scroll;
}

.container .board > .board-title-input, .board-contents {
  padding: 10px;
}

.container .board-title-input {
  display: flex;
  flex-direction: row;
}

.container .board-title-input > * {
  margin: 5px;
}

.container .board-title {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.container .list-input {
  background-color: transparent;
  border: 1px solid #cecece;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  cursor: text;
  font-family: 'Nanum Pen Script';
}

.container .list-input:focus {
  outline: none;
  border: 1px solid #fff;
}

.container .board-contents {
  color: #fff;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  
}

.container .board-contents > * {
  margin: 2px;
}
